/*
$sm:566px;
$md:768px;
$lg:992px;
*/
:root {
  --clr-bg-prime: #ff676c;
  --clr-bg-second: #f2f2f2;
  --clr-box-shadow: #000000;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
.taskWrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
}
.selectedCardsWrapper {
  padding: 0.1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.bg {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    360deg,
    var(--clr-bg-prime) 0%,
    var(--clr-bg-prime) 50%,
    var(--clr-bg-second) 50%,
    var(--clr-bg-second) 100%
  );
  z-index: -1;
}
